# Archivo de Entorno Seguro (Variables de Configuración)
# IMPORTANTE: Este archivo NO debe subirse a GitHub (añádelo a .gitignore)

# Coloca aquí tu API Key real de Groq:
GROQ_API_KEY=AQUI_PONEN_LA_API_KEY_REAL_DE_GROQ

#DEBEN CAMBIAR EL NOMBRE DEL ARCHIVO A .env Y PONER SU API KEY


##MAIL CONFIGURATION
SMTP_EMAIL=SU_CORREO_PARA_ENVIO
SMTP_PASSWORD=TU_CONTRASENA_DE_APLICACION_AQUI


#CODIGO PARA ADMINISTRADORES
#ESTE CODIGO PERMITE REGISTRAR USUARIOS COMO ADMINISTRADORES
SECRET_ADMIN_CODE=EJEMPLO123